<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="stil.css">
    <title>Pagina inexistenta</title>
</head>

<body>
    <%- include('navbar', {user: locals.user}) %>
    <script type="text/javascript" src="logs.js"></script>

    <p>Pagina inexistenta! :(</p>
</body>