<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="stil.css">
    <title>Ubuntu</title>
</head>


<body>
  <%- include('navbar', {user: locals.user}) %>
  <script type="text/javascript" src="logs.js"></script>
  
  <article>
    <h1>Ubuntu</h1>
    <img src="ubuntu.jpg" alt="ubuntu-logo" width="280" height="200">

    <p>Probabil cea mai populară distribuție de Linux, Ubuntu este alegerea preferată a celor care trec
      pentru prima dată la un sistem de operare Linux, iar asta se datorează următoarelor avantaje:</p>
    
    <br>
      

    <figure>
        <img src="ubuntu-19-10.png" alt="desktop" width="320" height="200">
        <figcaption>Versiunea actuală de Ubuntu(19.10 "Eoan Empire")</figcaption>
    </figure>
     
    <ul>
      <li>este ușor de instalat</li>
      <li>are o interfață grafică plăcută, modernă</li>
      <li>vine cu diverse aplicații pre-instalate</li>
      <li>poate fi rulat și de pe un stick USB</li>
      <li>foarte stabil, actualizările de sistem apar o dată la 6 luni și sunt opționale</li>
      <li>relativ securizat</li>
      <li>există și o varianta de Ubuntu pentru servere</li>
    </ul>

    <br><br>
    <p>Cu toate acestea, Ubuntu are câteva aspecte negative care ți-ar putea afecta alegerea, precum:</p>
    <ul>
      <li>ocupă destul de mult spațiu față de celelalte distribuții: aprox. 10GB </li>
      <li>consumă mai multe resurse față de alte distribuții, deci nu este recomandat pentru calculatoare foarte slabe</li>
      <li>ceva mai greu de customizat</li>
    </ul>

    <p>În esență, Ubuntu este o alegere foarte bună dacă vrei un sistem de opereare care să semene cu Windows
      și care poate fi ușor de instalat și configurat.
    </p>

    <p>Îți recomandăm următorul tutorial pentru instalarea Ubuntu:</p>
    
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/W-RFY4LQ6oE">
    </iframe> 

  </article>

  
</body>

</html>