<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="utf-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="stil.css">
    <title>De ce Linux?</title>
</head>

<body>
    <%- include('navbar', {user: locals.user}) %>
    <script type="text/javascript" src="logs.js"></script>
    
    <article>
        <h1>De ce Linux?</h1>
        <img src="why-image.png" alt="hmmm" width="280" height="200">

        <p>Am făcut o scurtă prezentare a Linuxului în pagina anterioară , însă nu am răspuns la întrebarea cu adevărat importantă :
            De ce ai folosi Linux? S-ar putea să te împaci deja destul de bine cu sistemul tău de operare actual, 
            fie el Microsoft Windows sau Apple macOS, și să nu simți nevoia să încerci altul. 
            De asemenea, abundența de distribuții ale Linuxului disponibile s-ar putea să te copleșească și să nu știi nici măcar de unde să începi.
        </p>

        <p>În acest articol îți voi prezența câteva motive pentru a te convinge de ce folosirea unui sistem de operare Linux va fi cea mai bună alegere a ta! :)</p>

        <h2>1. Este complet gratuit.</h2>
        <p>Linux se află sub licența GNU General Public License, ceea ce oferă dreptul oricărui utilizator
            de a-l copia, modifica și de a-l redistribui. Asta înseamnă că nu mai trebuie să te chinui cu achiziția 
            tot felor de licențe dubioase pentru sistemul de operare!
        </p>

        <h2>2. Pentru a instala o distribuție de Linux, nu este necesar să-ți ștergi sistemul de operare actual.</h2>
        <p>Astfel, instalarea unei distribuții de Linux nu reprezintă un compromis, iar la pornirea calculatorului vei putea
            alege întotdeauna ce sistem de operare vrei să bootezi. De asemenea, poți reveni întotdeauna la sistemul de operare
        inițial dacă nu-ți place Linux-ul!
        </p>

        <h2>3. Există distribuții atât pentru calculatoare vechi, cât și pentru sisteme performante.</h2>
        <p>Linux, în general, consumă mult mai puține resurse decât sistemele de operare Windows și macOS. Astfel, indiferent 
            de ce sistem dispui, cu siguranță există o distribuție potrivită.
        </p>

        <h2>4. Posibilitatea de a alege o interfață vizuală exact pe placul tău.</h2>
        <p>Fie că vrei să folosești Linux-ul doar pentru linia de comandă, sau vrei să te bucuri de o interfață intuitivă asemănătoare
            cu cea de la Mac, distribuțiile disponibile oferă interfețe vizuale pentru toate gusturile. 
        </p>

        <br>
        <p>Dacă aceste motive te-au convins să-ți instalezi Linux, îți recomandăm să citești despre fiecare dintre distribuțiile din meniul de mai sus
            pentru a te ajuta în alegerea unei distribuții potrivite pentru nevoile tale.
        </p>
    </article>

</body>
</html>
